/* fonts ka */
@font-face {
    font-family: 'GL_Gordeziani';
    src: url('../fonts/ka/GLGordeziani-UltraLight.woff2') format('woff2'),
        url('../fonts/ka/GLGordeziani-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GL_Gordeziani';
    src: url('../fonts/ka/GLGordeziani-Regular.woff2') format('woff2'),
        url('../fonts/ka/GLGordeziani-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GL_Gordeziani';
    src: url('../fonts/ka/GLGordeziani-Medium.woff2') format('woff2'),
        url('../fonts/ka/GLGordeziani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GL_Gordeziani';
    src: url('../fonts/ka/GLGordeziani-Light.woff2') format('woff2'),
        url('../fonts/ka/GLGordeziani-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GL_Gordeziani';
    src: url('../fonts/ka/GLGordeziani-Bold.woff2') format('woff2'),
        url('../fonts/ka/GLGordeziani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BPG_Glaho_WEB_Caps';
    src: url('../fonts/ka/BPGGlahoWEBCaps.woff2') format('woff2'),
        url('../fonts/ka/BPGGlahoWEBCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BPG_Excelsior';
    src: url('../fonts/ka/BPGExcelsiorBlack.woff2') format('woff2'),
        url('../fonts/ka/BPGExcelsiorBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BPG_Excelsior_Caps';
    src: url('../fonts/ka/BPGExcelsiorUltraBlackCaps.woff2') format('woff2'),
        url('../fonts/ka/BPGExcelsiorUltraBlackCaps.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BPG_Excelsior_Caps';
    src: url('../fonts/ka/BPGExcelsiorBlackCaps.woff2') format('woff2'),
        url('../fonts/ka/BPGExcelsiorBlackCaps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu_Sans';
    src: url('../fonts/ka/DejaVuSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/ka/DejaVuSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


/* fonts en */
@font-face {
    font-family: 'Avenir_Next_Condensed';
    src: url('../fonts/en/AvenirNextCondensed-Medium.woff2') format('woff2'),
        url('../fonts/en/AvenirNextCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* fonts */
body {
  font-family: 'DejaVu_Sans';
  font-weight: 200;
}
.top-bar:lang(ka) {
  font-family: 'BPG_Glaho_WEB_Caps';
  font-weight: 500;
}
.top-bar:lang(en) {
  font-family: 'Avenir_Next_Condensed';
  font-weight: 500;
  text-transform: uppercase;
}
.top-bar .name h1 a, .row.home h1 {
  font-family: 'GL_Gordeziani';
  font-weight: 500;
  font-style: normal;
}
.sub-title {
  font-family: 'GL_Gordeziani';
  font-weight: 300;
  font-style: normal;
}
/* font sizes */
.top-bar-section .dropdown a {
  font-weight: normal;
  font-size: 14px;
  font-family: 'BPG_Excelsior';
}
body {
  font-size: 13px;
}
figcaption {
  font-size: 11px;
}
.main-title {
    font-size: 40px;
    margin-right: 6px;
}
.sub-title {
  font-size: 30px;
}




tr td:first-child {
  font-weight: normal;
  font-family: 'BPG_Excelsior';
  font-size: 13px;
}
tr td:first-child a {
  font-weight: bold;
  color: #1c0258;
}
tr td:nth-child(2) {
  font-weight: normal;
  font-family: 'BPG_Glaho_WEB_Caps';
  font-size: 13px;
}
ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }
